

header {
    background-color: rgb(228, 250, 225);
    position: relative;
    width: 100%;
    top: 0;
    left: 0;
    /* border-bottom: solid 1px rgba(40, 42, 53, 0.39); */
    font-family: 'Poppins', sans-serif;
   
}

.nav {
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    justify-content: space-between;
    font-weight: bold; 
    font-size: 18px; 
}

.navBar {
    white-space: nowrap;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 30%;
    padding-top: 10px;
}

.logo {
    width: 1rem;

}

.logo img {
    width: 6rem;
}

button {
    margin-right: 5px;
    padding: 9px 25px;
    background-color: #11a73eee;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: all 0.3s ease-in-out 0s;
    color: whitesmoke;
    /* text-decoration: none; */
    font-weight: bold;
    font-size: 18px;
}

.navBar a {
    color: rgb(40, 42, 53);
    text-decoration: none;

}

button:hover {
    background-color: #007f67;
    color: white;
}

.navBar a {
    transition: all 0.3s ease-in-out 0s;
}

.navBar a:hover {
    color: #00a933;
}

@media (max-width:900px) {
    .navBar {
        width: 60%;
    }
}