.services {
    margin: 9% 0 9%;
    /* margin: 9%; */
}

.photos img {
    width: 20rem;
    height: auto;
    display: block;
}



.photos {
    display: flex;
    justify-content: space-around;
    padding: 0px 30%;

}

.services h1 {
    display: flex;
    justify-content: center;
    padding: 0 50%;
    margin-bottom: 3%;
    white-space: nowrap;
    background-color: rgba(245, 245, 245, 0.952);
}

.Resident,
.Commercial,
.Industrial,
.ACS,
.KBR,
.TT {
    position: relative;
    margin: 0 10px;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    cursor: pointer;
    border-radius: 10px;
}

#Res {
    background-color: #a71111ee;
}

#Com {
    background-color: #11a73eee;
}

#Ind {
    background-color: #1139a7ee;
}

#Part {
    background-color: #007f68ce;
}

#Trd {
    border-radius: 50%;
}

.Resident:hover .overlay,
.Commercial:hover .overlay,
.Industrial:hover .overlay,
.ACS:hover .overlay,
.KBR:hover .overlay,
.TT:hover .overlay {
    opacity: 1;
    transition: all 0.7s ease 0s;
}

.resText {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.PartP {
    padding-top: 10%;
}