@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
  font-family: 'Poppins', sans-serif;
}

body {
  top: 0;
  /* background-color: rgb(40, 42, 53); */
  /* font-family: Verdana, sans-serif; */
  line-height: 1.5;
 

}

.mea_pres {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin-top: 70px;
}


.mea_pres img {
  margin-top: 2%;
  width: 43rem;
  height: 100%;
  border-radius: 50px;
  border-color: none;
  box-shadow: 1px 2px 10px 11px white;
}

.card {
  padding: 3%;
  width: 30%;
  height: 40%;
  color: rgb(255, 255, 255);
  border-color: rgba(15, 168, 56, 0.815);
  background-color: rgba(15, 168, 56, 0.815);
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  margin: 6%;
  box-shadow: 1px 2px 10px 20px rgba(15, 168, 56, 0.815);
}

@media (max-width:1100px) {
  .mea_pres {
    flex-wrap: wrap;
  }

  .card {

    width: 90%;
  }

  .mea_pres img {
    width: 30rem;
  }
}